
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* BOOTSTRAP OVERRIDES */
.btn-primary {
    background-color: #2e86de !important;
    border-color: #2e86de !important;
}

    .btn-primary:hover {
        background-color: #1d6bb9 !important;
        border-color: #1d6bb9 !important;
    }


.btn-secondary {
    background-color: #8395a7 !important;
    border-color: #8395a7 !important;
}

    .btn-secondary:hover {
        background-color: #63778b !important;
        border-color: #63778b !important;
    }


.btn-danger {
    background-color: #ee5253 !important;
    border-color: #ee5253 !important;
}

    .btn-danger:hover {
        background-color: #e81819 !important;
        border-color: #e81819 !important;
    }